@media screen and (width < 1200px) {

    html {
        font-size: 58.5%;
    }

    .profile-container {
        padding-top: 13rem;
        flex-direction: column;
        gap: 5rem;

        & .profile-image-container {
            width: 32rem;
            height: 32rem;
        }
    }

    .text-container {
        order: 2;
    }
}

@media screen and (width < 938px) {

    html {
        font-size: 56.5%;
    }

    header {
        & .menu {
            display: block;
            cursor: pointer;
        }

        & .nav-links {
            display: none;
        }
    }

    main .Education .card-container .card {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: fit-content;
    }

    main .Experience-timeLine {

        &::after {
            left: 16px;
            top: 40%;
        }
    }
}

@media screen and (width < 800px) {
    main {
        & .about-container {
            grid-template-columns: repeat(1, 1fr);
            margin: 0 auto;
        }
    }

    main .Experience-timeLine {
        max-width: 85%;

        &::after {
            left: 4px;
        }

        & .timeline-container {
            width: 100%;

            & .timeline-txt-box {

                & .left-arrow,
                .right-container {
                    border-right: 15px solid #91919179;
                    border-left: 0;
                    left: -15px;
                }
            }
        }

        & .right-container {
            left: 0;
        }

        & .left-container img,
        .right-container img {
            left: -20px;
        }
    }
}

@media screen and (width < 648px) {
    html {
        font-size: 50.5%;
    }

    main .Experience-timeLine {
        max-width: 95%;

        &::after {
            left: 4px;
        }

        & .timeline-container {
            width: 100%;

            & .timeline-txt-box {

                & .left-arrow,
                .right-container {
                    border-right: 15px solid #91919179;
                    border-left: 0;
                    left: -15px;
                }
            }
        }
    }
}

@media screen and (width < 500px) {
    main .Experience-timeLine {
        max-width: 100%;

        &::after {
            left: 4px;
        }

        & .timeline-container {
            width: 100%;

            & .timeline-txt-box {

                & .left-arrow,
                .right-container {
                    border-right: 15px solid #91919179;
                    border-left: 0;
                    left: -15px;
                }

                & h2 {
                    font-weight: 600;
                    font-size: 3.5rem;
                }

                & small {
                    display: inline-block;
                    margin-bottom: 1.5rem;
                    font-size: 2rem;
                }

                & p {
                    font-size: 2.2rem;
                }
            }
        }
    }

    main .Experience-timeLine {

        &::after {
            left: 4px;
            top: 30%;
        }
    }
}

@media screen and (width < 438px) {
    html {
        font-size: 37.5%;
    }

    main .profile-container .text-container .profile-details p {
        font-size: 2.2rem;
    }

    main .profile-container .text-container .social-media-icons img {
        width: 40px;
    }

    main .about-container .about-txt .details-container {
        flex-direction: column;
        gap: 2rem;
    }

    main .about-container .about-txt .details-container .details-1 p {
        font-size: 2.3rem;
    }

    main .about-container .about-txt .details-container .details-2 p {
        font-size: 2.3rem;
    }

    main .about-container .about-txt p {
        font-size: 2rem;
    }

    main .profile-container .text-container .profile-details h1 {
        font-size: 4.9rem;
    }

    main .Experience-timeLine {
        & .timeline-container {

            & .timeline-txt-box {

                & h2 {
                    font-weight: 600;
                    font-size: 4rem;
                }

                & small {
                    display: inline-block;
                    margin-bottom: 1.5rem;
                    font-size: 2.3rem;
                }

                & p {
                    font-size: 2.5rem;
                }
            }
        }
    }

    main .Experience-timeLine {

        &::after {
            left: 0px;
            top: 30%;
        }
    }
}