* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  min-height: 100vh;
  padding: 0 2rem;
  background: url("../images/aboutbg.jpg");
  background-repeat: no-repeat;
  backdrop-filter: blur(9px);
  background-size: cover;
  background-position: top;
  position: relative;
}

.active {
  background: linear-gradient(rgb(255, 0, 102), #3cf);
  font-weight: 700;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

header {
  height: 6rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 5rem;
  z-index: 2;

  & .logo-container {
    height: 5rem;
    width: fit-content;

    & .logo {
      width: 10rem;
    }
  }

  & .menu {
    display: none;
  }

  & .nav-links {
    display: flex;
    align-items: center;
    gap: 5rem;

    & a {
      text-decoration: none;
      color: #fff;
      font-size: 2rem;
      position: relative;

      &::after {
        content: "";
        height: 2px;
        width: 100%;
        position: absolute;
        background: linear-gradient(45deg, #f06, #3cf);
        left: 0;
        bottom: -7px;
        translate: -100%;
        opacity: 0;
        transition: all 0.4s;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        -ms-transition: all 0.4s;
        -o-transition: all 0.4s;
      }

      &:hover::after {
        translate: 0%;
        opacity: 1;
      }

      &:hover {
        background: linear-gradient(45deg, #f06, #3cf);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
      }
    }
  }
}

.read-more-txt {
  display: none;
}

.read-more-btn {
  color: red;
  cursor: pointer;
}


/***** DropDown *****/

.dropdown-menu {
  display: none;
  flex-direction: column;
  position: fixed;
  right: 8rem;
  top: 94px;
  width: 300px;
  /* 
  height: 310px; */
  height: 0;
  background: rgba(128, 128, 128, 0.363);
  border-radius: 10px;
  overflow: hidden;
  z-index: 9999;
  transition: height 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition: height 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: height 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: height 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: height 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  & li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.4rem 1rem;
  }

  & li a {
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
  }

  & .btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4.6rem;
    border-radius: 4rem;
    -webkit-border-radius: 4rem;
    -moz-border-radius: 4rem;
    -ms-border-radius: 4rem;
    -o-border-radius: 4rem;
    font-size: 1.9rem;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.1rem;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      inset: 0;
      background: linear-gradient(30deg, #f06, #3cf, #f06);
      z-index: -1;
      border-radius: 4rem;
      -webkit-border-radius: 4rem;
      -moz-border-radius: 4rem;
      -ms-border-radius: 4rem;
      -o-border-radius: 4rem;
      background-size: 200%;
      background-position: 0 0;
      filter: blur(5px);
      -webkit-filter: blur(5px);
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      inset: 0;
      background: linear-gradient(45deg, #f06, #3cf, #f06);
      z-index: -1;
      background-position: 0 0;
      border-radius: 4rem;
      -webkit-border-radius: 4rem;
      -moz-border-radius: 4rem;
      -ms-border-radius: 4rem;
      -o-border-radius: 4rem;
      background-size: 200%;
      transition: 0.3s ease-in;
      -webkit-transition: 0.3s ease-in;
      -moz-transition: 0.3s ease-in;
      -ms-transition: 0.3s ease-in;
      -o-transition: 0.3s ease-in;
    }

    &:hover::after {
      background-position: 100% 0;
    }
  }
}

/***** End DropDown *****/


main {
  min-height: calc(100vh - 6rem);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & .profile-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

    & .text-container {
      align-self: center;
      justify-self: center;
      display: flex;
      gap: 1.5rem;

      & .social-media-icons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.4rem;

        & img {
          width: 50px;
        }
      }

      & .profile-details {
        color: #fff;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        & h1 {
          font-size: 5rem;

          & .work {
            font-size: 3rem;
          }
        }

        & p {
          font-size: 2rem;
        }

        & .btn-container {
          display: flex;
          gap: 2rem;
          margin-top: 2rem;
          width: 70%;

          & .btn {
            position: relative;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 60%;
            height: 4.6rem;
            border-radius: 4rem;
            -webkit-border-radius: 4rem;
            -moz-border-radius: 4rem;
            -ms-border-radius: 4rem;
            -o-border-radius: 4rem;
            font-size: 1.9rem;
            color: #fff;
            font-weight: 600;
            letter-spacing: 0.1rem;
            z-index: 1;
            text-decoration: none;

            &::before {
              content: "";
              position: absolute;
              top: 0;
              inset: 0;
              background: linear-gradient(30deg, #f06, #3cf, #f06);
              z-index: -1;
              border-radius: 4rem;
              -webkit-border-radius: 4rem;
              -moz-border-radius: 4rem;
              -ms-border-radius: 4rem;
              -o-border-radius: 4rem;
              background-size: 200%;
              background-position: 0 0;
              filter: blur(5px);
              -webkit-filter: blur(5px);
            }

            &::after {
              content: "";
              position: absolute;
              top: 0;
              inset: 0;
              background: linear-gradient(45deg, #f06, #3cf, #f06);
              z-index: -1;
              background-position: 0 0;
              border-radius: 4rem;
              -webkit-border-radius: 4rem;
              -moz-border-radius: 4rem;
              -ms-border-radius: 4rem;
              -o-border-radius: 4rem;
              background-size: 200%;
              transition: 0.3s ease-in;
              -webkit-transition: 0.3s ease-in;
              -moz-transition: 0.3s ease-in;
              -ms-transition: 0.3s ease-in;
              -o-transition: 0.3s ease-in;
            }

            &:hover::after {
              background-position: 100% 0;
            }
          }
        }
      }
    }

    & .profile-image-container {
      width: 40rem;
      height: 40rem;

      & .glowing-circle {
        width: 100%;
        height: 100%;
        background: linear-gradient(#c1336c, #36a4c9);
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        & span {
          position: absolute;
          width: 100%;
          height: 100%;
          background: linear-gradient(#c1336c, #36a4c9);
          filter: blur(10px);
          border-radius: 50%;
          -webkit-filter: blur(10px);
        }

        &::after {
          content: "";
          position: absolute;
          width: 38.9rem;
          height: 38.9rem;
          background: #0c1022;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
        }

        & .profile-img {
          position: relative;
          width: 38rem;
          height: 38rem;
          border-radius: 50%;
          z-index: 1;
          overflow: hidden;
          animation: zoomIn 1s linear infinite;
          -webkit-animation: zoomIn 1s linear infinite alternate;

          & img {
            width: 38rem;
            height: 38rem;
            border-radius: 50%;
            object-fit: cover;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
          }
        }
      }
    }
  }

  & .about-container {
    width: 100%;
    padding-top: 15rem;
    max-width: 110rem;
    padding-top: 14rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    color: #fff;

    .about-img {
      width: 40rem;
      height: fit-content;

      & .glowing-circle {
        width: 100%;
        height: 100%;
        background: linear-gradient(#f06, #3cf);
        border-radius: 20%;
        -webkit-border-radius: 20%;
        -moz-border-radius: 20%;
        -ms-border-radius: 20%;
        -o-border-radius: 20%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        & span {
          position: absolute;
          width: 100%;
          height: 100%;
          background: linear-gradient(#f06, #3cf);
          filter: blur(10px);
          border-radius: 20%;
          -webkit-filter: blur(10px);
          -webkit-border-radius: 20%;
          -moz-border-radius: 20%;
          -ms-border-radius: 20%;
          -o-border-radius: 20%;
        }

        &::after {
          content: "";
          position: absolute;
          width: 40rem;
          height: 50rem;
          background: #0c1022;
          border-radius: 20%;
          -webkit-border-radius: 20%;
          -moz-border-radius: 20%;
          -ms-border-radius: 20%;
          -o-border-radius: 20%;
        }

        & .profile-img {
          position: relative;
          width: 40rem;
          height: 50rem;
          border-radius: 20%;
          z-index: 1;
          overflow: hidden;

          & img {
            width: 40rem;
            height: 50rem;
            border-radius: 20%;
            object-fit: cover;
            object-position: top;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            -webkit-border-radius: 20%;
            -moz-border-radius: 20%;
            -ms-border-radius: 20%;
            -o-border-radius: 20%;
          }
        }
      }
    }

    & .about-txt {
      display: flex;
      flex-direction: column;
      gap: 3.4rem;

      & h2 {
        font-size: 5.2rem;
      }

      & p {
        font-size: 1.6rem;
        line-height: 1.4;
        max-width: 100%;
      }

      & .btn {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        width: 18rem;
        font-size: 1.6rem;
        height: 4.8rem;
        border-radius: 4rem;
        -webkit-border-radius: 4rem;
        -moz-border-radius: 4rem;
        -ms-border-radius: 4rem;
        -o-border-radius: 4rem;
        font-size: 1.9rem;
        color: #fff;
        font-weight: 600;
        letter-spacing: 0.1rem;
        z-index: 1;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          inset: 0;
          background: linear-gradient(30deg, #f06, #3cf, #f06);
          z-index: -1;
          border-radius: 4rem;
          -webkit-border-radius: 4rem;
          -moz-border-radius: 4rem;
          -ms-border-radius: 4rem;
          -o-border-radius: 4rem;
          background-size: 200%;
          background-position: 0 0;
          filter: blur(5px);
          -webkit-filter: blur(5px);
        }

        &::after {
          content: "";
          position: absolute;
          top: 0;
          inset: 0;
          background: linear-gradient(45deg, #f06, #3cf, #f06);
          z-index: -1;
          background-position: 0 0;
          border-radius: 4rem;
          -webkit-border-radius: 4rem;
          -moz-border-radius: 4rem;
          -ms-border-radius: 4rem;
          -o-border-radius: 4rem;
          background-size: 200%;
          transition: 0.3s ease-in;
          -webkit-transition: 0.3s ease-in;
          -moz-transition: 0.3s ease-in;
          -ms-transition: 0.3s ease-in;
          -o-transition: 0.3s ease-in;
        }

        &:hover::after {
          background-position: 100% 0;
        }
      }

      & .details-container {
        display: flex;
        justify-content: space-between;
        font-size: 1.6rem;

        & .details-1 p {
          line-height: 1.5;
          font-size: 1.5rem;
        }

        & .details-2 p {
          line-height: 1.5;
          font-size: 1.5rem;
        }
      }
    }
  }

  .skills {
    width: 100%;
    max-width: 110rem;
    padding-top: 15rem;

    .skills-content {
      text-align: center;

      & h2 {
        font-size: 5.5rem;
      }

      & .icons-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2.6rem;
        margin: 5rem;

        & .icons-1 {
          animation: zoomIn 1s linear infinite;
          -webkit-animation: zoomIn 1s linear infinite alternate;
        }
      }
    }
  }

  .Education {
    width: 100%;
    padding: 15rem 0;
    max-width: 110rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    & h2 {
      font-size: 5rem;
    }

    & p {
      font-size: 2rem;
      color: #c9c9c9;
      font-weight: bold;
      padding: 1.3rem 0;
    }

    & .card-container {
      max-width: 100%;
      color: #fff;
      margin: 0 auto;

      & .card {
        display: flex;
        gap: 2rem;
        width: fit-content;
        margin-top: 4rem;
        padding: 2rem;
        background: #00000070;
        border-radius: 3.5rem;
        -webkit-border-radius: 3.5rem;
        -moz-border-radius: 3.5rem;
        -ms-border-radius: 3.5rem;
        -o-border-radius: 3.5rem;

        & .card-img {

          & img {
            width: 45rem;
            border-radius: 3rem;
            -webkit-border-radius: 3rem;
            -moz-border-radius: 3rem;
            -ms-border-radius: 3rem;
            -o-border-radius: 3rem;
          }
        }

        & .card-txt {
          text-align: left;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;

          & h3 {
            font-size: 2.5rem;
          }

          & h4 {
            font-size: 1.7rem;
          }
        }
      }
    }
  }

  .Experience-timeLine {
    position: relative;
    max-width: 68%;
    margin: 15rem auto;


    & .Ex-top {
      text-align: center;
      margin-bottom: 5rem;

      & h1 {
        font-size: 5rem;
      }

      & p {
        font-size: 2rem;
        color: #c9c9c9;
        font-weight: bold;
        padding: 1.3rem 0;
      }
    }

    & .timeline-container {
      padding: 1.2rem;
      position: relative;
      color: #fff;

      & .timeline-txt-box {
        padding: 2rem 3rem;
        margin-left: 5rem;
        background: #0000006c;
        position: relative;
        border-radius: 1.5rem;
        -webkit-border-radius: 1.5rem;
        -moz-border-radius: 1.5rem;
        -ms-border-radius: 1.5rem;
        -o-border-radius: 1.5rem;
        font-size: 1.5rem;
        box-shadow: rgba(26, 26, 26, 0.25) 0px 50px 100px -20px, rgba(15, 15, 15, 0.3) 0px 30px 60px -30px, rgba(255, 255, 255, 0.35) 0px -1px 6px 2px inset;

        & h2 {
          font-weight: 600;
          font-size: 3rem;
        }

        & small {
          display: inline-block;
          margin-bottom: 1.5rem;
          font-size: 1.5rem;
        }

        & p {
          font-size: 1.8rem;


        }



        & .right-arrow {
          height: 0;
          width: 0;
          position: absolute;
          top: 3rem;
          z-index: 1;
          border-top: 15px solid transparent;
          border-bottom: 15px solid transparent;
          border-right: 15px solid #d6d6d6a8;
          left: -15px;
        }
      }

      & img {
        position: absolute;
        width: 6rem;
        right: -30px;
        top: 26px;
        z-index: 10;
      }
    }

    & .right-container {
      left: 2%;

      & img {
        left: -20px;
      }
    }

    &::after {
      content: '';
      position: absolute;
      width: 6px;
      height: 60%;
      background: linear-gradient(#eb1d6f, #10baf3);
      top: 45%;
      left: 3%;
      margin-left: -3px;
      z-index: -1;
    }

  }
}

/***** scrollbar Section *****/

/* width */
::-webkit-scrollbar {
  width: 0.9rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #a3a3a3;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(#eb1d6f, #10baf3);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2c2c2c;
}

/***** End scrollbar Section *****/