* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  scroll-behavior: smooth;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  min-height: 100vh;
  background: url("../images/Mainbg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  position: relative;
}
.gototop {
  position: fixed;
  right: 3rem;
  bottom: 3rem;
  rotate: 270deg;
  background: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  display: none;
  z-index: 9999;
}
.cursor {
  z-index: 9999;
  background: linear-gradient(rgb(255, 0, 102), #3cf);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: fixed;
  opacity: 0.8;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  pointer-events: none;
  box-shadow: 0 0 20px #00eeff, 0 0 60px rgb(0, 255, 242), 0 0 100px #00ffe1;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;

  &::before {
    content: "";
    position: absolute;
    background: linear-gradient(rgb(255, 0, 102), #3cf);
    width: 50px;
    height: 50px;
    opacity: 0.2;
    transform: translate(-30%, -30%);
    -webkit-transform: translate(-30%, -30%);
    -moz-transform: translate(-30%, -30%);
    -ms-transform: translate(-30%, -30%);
    -o-transform: translate(-30%, -30%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
}

.activeName,
.a {
  background: linear-gradient(rgb(255, 0, 102), #3cf);
  font-weight: 700;
  padding-bottom: 3px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.active {
  background: linear-gradient(rgb(255, 0, 102), #3cf);
  font-weight: 700;
  padding-bottom: 3px;
  border-bottom: 5px solid rgb(255, 0, 102);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.rotate {
  transition: 0.8s;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;

  &:hover {
    rotate: 360deg;
    scale: 1.1;
  }
}

.moverighticon {
  margin: 0.5rem;
  width: 3rem;
  height: 3rem;
  animation: moveright 0.5s linear infinite alternate;
  -webkit-animation: moveright 0.5s linear infinite alternate;
}

.moveD {
  animation: moveDown 0.5s linear infinite alternate;
  -webkit-animation: moveDown 0.5s linear infinite alternate;
}

/***** preloader *****/

#preloader {
  background: #000000 url("../Images/m.gif") no-repeat center center;
  background-size: 10%;
  height: 100vh;
  width: 100%;
  position: fixed;
  transition: all 0.4s;
  z-index: 9999;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}

/***** End preloader *****/

header {
  width: 100%;
  height: 4.8rem;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background: #00000096;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 5rem;
  z-index: 2;

  & .logo-container {
    height: 5rem;
    width: fit-content;

    & .logo {
      width: 10rem;
    }
  }

  & .menu {
    display: none;
  }

  & .nav-links {
    display: flex;
    align-items: center;
    gap: 5rem;

    & a {
      text-decoration: none;
      color: #fff;
      font-size: 2rem;
      position: relative;
      font-weight: bold;

      &::after {
        content: "";
        height: 2px;
        width: 100%;
        position: absolute;
        background: linear-gradient(45deg, #f06, #3cf);
        left: 0;
        bottom: -7px;
        translate: -100%;
        opacity: 0;
        transition: all 0.4s;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        -ms-transition: all 0.4s;
        -o-transition: all 0.4s;
      }

      &:hover::after {
        translate: 0%;
        opacity: 1;
      }

      &:hover {
        background: linear-gradient(45deg, #f06, #3cf);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
      }
    }
  }
}

.read-more-txt {
  display: none;
}

.read-more-btn {
  color: red;
  cursor: pointer;
}

/***** DropDown *****/

.dropdown-menu {
  display: none;
  flex-direction: column;
  position: fixed;
  right: 8rem;
  top: 94px;
  width: 300px;
  /*height: 310px;
  */
  height: 0;
  box-shadow: rgba(18, 1, 255, 0.425) 0px 50px 100px -20px inset,
    rgba(146, 0, 243, 0.527) 0px 30px 60px -30px inset,
    rgb(183, 0, 255) 0px -2px 6px 0px inset;
  background: rgba(0, 0, 0, 0.564);
  border-radius: 10px;
  overflow: hidden;
  z-index: 9999;
  transition: height 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition: height 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: height 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: height 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: height 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  & li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.4rem 1rem;
  }

  & li a {
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
  }

  & .btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4.6rem;
    border-radius: 4rem;
    -webkit-border-radius: 4rem;
    -moz-border-radius: 4rem;
    -ms-border-radius: 4rem;
    -o-border-radius: 4rem;
    font-size: 1.9rem;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.1rem;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      inset: 0;
      background: linear-gradient(30deg, #f06, #3cf, #f06);
      z-index: -1;
      border-radius: 4rem;
      -webkit-border-radius: 4rem;
      -moz-border-radius: 4rem;
      -ms-border-radius: 4rem;
      -o-border-radius: 4rem;
      background-size: 200%;
      background-position: 0 0;
      filter: blur(5px);
      -webkit-filter: blur(5px);
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      inset: 0;
      background: linear-gradient(45deg, #f06, #3cf, #f06);
      z-index: -1;
      background-position: 0 0;
      border-radius: 4rem;
      -webkit-border-radius: 4rem;
      -moz-border-radius: 4rem;
      -ms-border-radius: 4rem;
      -o-border-radius: 4rem;
      background-size: 200%;
      transition: 0.3s ease-in;
      -webkit-transition: 0.3s ease-in;
      -moz-transition: 0.3s ease-in;
      -ms-transition: 0.3s ease-in;
      -o-transition: 0.3s ease-in;
    }

    &:hover::after {
      background-position: 100% 0;
    }
  }
}

/***** End DropDown *****/

/***** btn *****/

.filter-btns {
  width: 95%;
  max-width: 70%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.filterbtn {
  padding: 1.2rem 4rem;
  outline: none;
  border: none;
  border-radius: 33px;
  font-size: 2rem;
  -webkit-border-radius: 33px;
  -moz-border-radius: 33px;
  -ms-border-radius: 33px;
  -o-border-radius: 33px;
  transition: 0.2s ease-in;
  -webkit-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -ms-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  color: #fff;
  font-weight: bold;
  background: #0000006c;
  box-shadow: rgb(122, 122, 122) 0px 0px 20px 0px inset,
    rgba(0, 0, 0, 0.397) 0px 50px 100px -20px inset,
    rgba(61, 61, 61, 0.801) 0px -2px 6px 0px inset;

  &:hover {
    scale: 1.1;
  }

  &:active {
    scale: 0.88;
  }
}

.showingCards {
  box-shadow: rgba(18, 1, 255, 0.521) 0px 20px 30px -20px inset,
    rgba(146, 0, 243, 0.527) 0px 20px 60px -30px inset,
    rgb(174, 0, 255) 0px -2px 6px 0px inset;
  background: rgba(0, 0, 0, 0.842);
}

/***** End btn *****/

main {
  min-height: calc(100vh - 4.6rem);
  width: 100%;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & .profile-container {
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

    & .text-container {
      align-self: center;
      justify-self: center;
      display: flex;
      gap: 1.5rem;

      & .social-media-icons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.4rem;

        & img {
          width: 50px;
        }
      }

      & .profile-details {
        color: #fff;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        & h1 {
          font-size: 5rem;

          & .work {
            font-size: 3rem;
          }
        }

        & p {
          font-size: 2rem;
        }

        & .btn-container {
          display: flex;
          gap: 2rem;
          margin-top: 2rem;
          width: 70%;

          & .btn {
            position: relative;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 60%;
            height: 4.6rem;
            border-radius: 4rem;
            -webkit-border-radius: 4rem;
            -moz-border-radius: 4rem;
            -ms-border-radius: 4rem;
            -o-border-radius: 4rem;
            font-size: 1.9rem;
            color: #fff;
            font-weight: 600;
            letter-spacing: 0.1rem;
            z-index: 1;
            text-decoration: none;

            &::before {
              content: "";
              position: absolute;
              top: 0;
              inset: 0;
              background: linear-gradient(30deg, #f06, #3cf, #f06);
              z-index: -1;
              border-radius: 4rem;
              -webkit-border-radius: 4rem;
              -moz-border-radius: 4rem;
              -ms-border-radius: 4rem;
              -o-border-radius: 4rem;
              background-size: 200%;
              background-position: 0 0;
              filter: blur(5px);
              -webkit-filter: blur(5px);
            }

            &::after {
              content: "";
              position: absolute;
              top: 0;
              inset: 0;
              background: linear-gradient(45deg, #f06, #3cf, #f06);
              z-index: -1;
              background-position: 0 0;
              border-radius: 4rem;
              -webkit-border-radius: 4rem;
              -moz-border-radius: 4rem;
              -ms-border-radius: 4rem;
              -o-border-radius: 4rem;
              background-size: 200%;
              transition: 0.3s ease-in;
              -webkit-transition: 0.3s ease-in;
              -moz-transition: 0.3s ease-in;
              -ms-transition: 0.3s ease-in;
              -o-transition: 0.3s ease-in;
            }

            &:hover::after {
              background-position: 100% 0;
            }
          }
        }
      }
    }

    & .profile-image-container {
      width: 40rem;
      height: 40rem;

      & .glowing-circle {
        width: 100%;
        height: 100%;
        background: linear-gradient(#c1336c, #36a4c9);
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        & span {
          position: absolute;
          width: 100%;
          height: 100%;
          background: linear-gradient(#c1336c, #36a4c9);
          filter: blur(10px);
          border-radius: 50%;
          -webkit-filter: blur(10px);
        }

        &::after {
          content: "";
          position: absolute;
          width: 38.9rem;
          height: 38.9rem;
          background: #0c1022;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
        }

        & .profile-img {
          position: relative;
          width: 38rem;
          height: 38rem;
          border-radius: 50%;
          z-index: 1;
          overflow: hidden;
          animation: zoomIn 1s linear infinite;
          -webkit-animation: zoomIn 1s linear infinite alternate;

          & img {
            width: 38rem;
            height: 38rem;
            border-radius: 50%;
            object-fit: cover;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
          }
        }
      }
    }
  }

  & .about-container {
    width: 100%;
    padding-top: 15rem;
    max-width: 110rem;
    padding-top: 14rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    color: #fff;

    .about-img {
      width: 40rem;
      height: fit-content;

      & .glowing-circle {
        width: 100%;
        height: 100%;
        background: linear-gradient(#f06, #3cf);
        border-radius: 20%;
        -webkit-border-radius: 20%;
        -moz-border-radius: 20%;
        -ms-border-radius: 20%;
        -o-border-radius: 20%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        & span {
          position: absolute;
          width: 100%;
          height: 100%;
          background: linear-gradient(#f06, #3cf);
          filter: blur(10px);
          border-radius: 20%;
          -webkit-filter: blur(10px);
          -webkit-border-radius: 20%;
          -moz-border-radius: 20%;
          -ms-border-radius: 20%;
          -o-border-radius: 20%;
        }

        &::after {
          content: "";
          position: absolute;
          width: 40rem;
          height: 50rem;
          background: #0c1022;
          border-radius: 20%;
          -webkit-border-radius: 20%;
          -moz-border-radius: 20%;
          -ms-border-radius: 20%;
          -o-border-radius: 20%;
        }

        & .profile-img {
          position: relative;
          width: 40rem;
          height: 50rem;
          border-radius: 20%;
          z-index: 1;
          overflow: hidden;

          & img {
            width: 40rem;
            height: 50rem;
            border-radius: 20%;
            object-fit: cover;
            object-position: top;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            -webkit-border-radius: 20%;
            -moz-border-radius: 20%;
            -ms-border-radius: 20%;
            -o-border-radius: 20%;
          }
        }
      }
    }

    & .about-txt {
      display: flex;
      flex-direction: column;
      gap: 3.4rem;

      & h2 {
        font-size: 5.2rem;
      }

      & p {
        font-size: 1.6rem;
        line-height: 1.4;
        max-width: 100%;
      }

      & .btn {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        width: 18rem;
        font-size: 1.6rem;
        height: 4.8rem;
        border-radius: 4rem;
        -webkit-border-radius: 4rem;
        -moz-border-radius: 4rem;
        -ms-border-radius: 4rem;
        -o-border-radius: 4rem;
        font-size: 1.9rem;
        color: #fff;
        font-weight: 600;
        letter-spacing: 0.1rem;
        z-index: 1;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          inset: 0;
          background: linear-gradient(30deg, #f06, #3cf, #f06);
          z-index: -1;
          border-radius: 4rem;
          -webkit-border-radius: 4rem;
          -moz-border-radius: 4rem;
          -ms-border-radius: 4rem;
          -o-border-radius: 4rem;
          background-size: 200%;
          background-position: 0 0;
          filter: blur(5px);
          -webkit-filter: blur(5px);
        }

        &::after {
          content: "";
          position: absolute;
          top: 0;
          inset: 0;
          background: linear-gradient(45deg, #f06, #3cf, #f06);
          z-index: -1;
          background-position: 0 0;
          border-radius: 4rem;
          -webkit-border-radius: 4rem;
          -moz-border-radius: 4rem;
          -ms-border-radius: 4rem;
          -o-border-radius: 4rem;
          background-size: 200%;
          transition: 0.3s ease-in;
          -webkit-transition: 0.3s ease-in;
          -moz-transition: 0.3s ease-in;
          -ms-transition: 0.3s ease-in;
          -o-transition: 0.3s ease-in;
        }

        &:hover::after {
          background-position: 100% 0;
        }
      }

      & .details-container {
        display: flex;
        justify-content: space-between;
        font-size: 1.6rem;

        & .details-1 p {
          line-height: 1.5;
          font-size: 1.5rem;
        }

        & .details-2 p {
          line-height: 1.5;
          font-size: 1.5rem;
        }
      }
    }
  }

  .skills {
    width: 100%;
    max-width: 110rem;
    padding-top: 15rem;

    .skills-content {
      text-align: center;

      & h2 {
        font-size: 5.5rem;
      }

      & .icons-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2.6rem;
        margin: 5rem;

        & .icons-1 {
          animation: zoomIn 0.3s linear infinite alternate;
          -webkit-animation: zoomIn 0.3s linear infinite alternate;
        }
      }
    }
  }

  .Education {
    width: 100%;
    padding: 15rem 0;
    max-width: 110rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    & h2 {
      font-size: 5rem;
    }

    & p {
      font-size: 2rem;
      color: #c9c9c9;
      font-weight: bold;
      padding: 1.3rem 0;
    }

    & .card-container {
      max-width: 100%;
      color: #fff;
      margin: 0 auto;

      & .card {
        display: flex;
        gap: 2rem;
        width: fit-content;
        margin-top: 4rem;
        padding: 2rem;
        background: #00000070;
        border-radius: 3.5rem;
        -webkit-border-radius: 3.5rem;
        -moz-border-radius: 3.5rem;
        -ms-border-radius: 3.5rem;
        -o-border-radius: 3.5rem;

        & .card-img {
          & img {
            width: 45rem;
            border-radius: 3rem;
            -webkit-border-radius: 3rem;
            -moz-border-radius: 3rem;
            -ms-border-radius: 3rem;
            -o-border-radius: 3rem;
          }
        }

        & .card-txt {
          text-align: left;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;

          & h3 {
            font-size: 2.5rem;
          }

          & h4 {
            font-size: 1.7rem;
          }
        }
      }
    }
  }

  .Experience-timeLine {
    position: relative;
    max-width: 68%;
    padding: 12rem 0;

    & .Ex-top {
      text-align: center;
      margin-bottom: 5rem;

      & h1 {
        font-size: 5rem;
      }

      & p {
        font-size: 2rem;
        color: #c9c9c9;
        font-weight: bold;
        padding: 1.3rem 0;
      }
    }

    & .timeline-container {
      padding: 1.2rem;
      position: relative;
      color: #fff;

      & .timeline-txt-box {
        padding: 2rem 3rem;
        margin-left: 5rem;
        background: #0000006c;
        position: relative;
        border-radius: 1.5rem;
        -webkit-border-radius: 1.5rem;
        -moz-border-radius: 1.5rem;
        -ms-border-radius: 1.5rem;
        -o-border-radius: 1.5rem;
        font-size: 1.5rem;
        box-shadow: rgba(26, 26, 26, 0.25) 0px 50px 100px -20px,
          rgba(15, 15, 15, 0.3) 0px 30px 60px -30px,
          rgba(255, 255, 255, 0.35) 0px -1px 6px 2px inset;

        & h2 {
          font-weight: 600;
          font-size: 3rem;
        }

        & small {
          display: inline-block;
          margin-bottom: 1.5rem;
          font-size: 1.5rem;
        }

        & p {
          font-size: 1.8rem;
        }

        & .right-arrow {
          height: 0;
          width: 0;
          position: absolute;
          top: 3rem;
          z-index: 1;
          border-top: 15px solid transparent;
          border-bottom: 15px solid transparent;
          border-right: 15px solid #d6d6d6a8;
          left: -15px;
        }
      }

      & img {
        position: absolute;
        width: 6rem;
        right: -30px;
        top: 26px;
        z-index: 1;
      }
    }

    & .right-container {
      left: 2%;

      & img {
        left: -20px;
      }
    }

    &::after {
      content: "";
      position: absolute;
      width: 6px;
      height: 60%;
      background: linear-gradient(#eb1d6fb4, #10baf3ab);
      top: 45%;
      left: 3%;
      margin-left: -3px;
      z-index: -1;
      border-radius: 5rem;
      -webkit-border-radius: 5rem;
      -moz-border-radius: 5rem;
      -ms-border-radius: 5rem;
      -o-border-radius: 5rem;
    }
  }

  .Latest-work {
    width: 100%;
    padding: 12rem 0 0 0;
    display: flex;
    flex-direction: column;

    & .latest-top {
      max-width: 100%;
      margin: 0 auto;
      margin-bottom: 7rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      & h2 {
        font-size: 5.5rem;
      }

      & p {
        font-size: 2rem;
        color: #ccc;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-weight: bold;

        & a {
          display: flex;
          align-items: center;

          & img {
            width: 4rem;
          }
        }
      }
    }

    & .cards-container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 2rem;
      max-width: 95%;
      margin: 0px auto;

      &::-webkit-scrollbar {
        display: none;
      }

      & .filtercard {
        display: flex;
        flex-direction: column;
        width: fit-content;
        max-width: 100%;
        margin-bottom: 4rem;
        padding: 3rem;
        align-items: center;
        margin-top: 4.6rem;
        border-radius: 2rem;
        -webkit-border-radius: 2rem;
        -moz-border-radius: 2rem;
        -ms-border-radius: 2rem;
        -o-border-radius: 2rem;
        gap: 2.6rem;
        box-shadow: rgba(18, 1, 255, 0.425) 0px 50px 100px 20px inset,
          rgba(146, 0, 243, 0.527) 0px 30px 60px -30px inset,
          rgb(183, 0, 255) 0px -2px 6px 0px inset;
        background: rgba(0, 0, 0, 0.842);

        & .img-container {
          padding: 0.9rem;
          width: 40rem;

          & img {
            width: 100%;
            padding: 1.6rem;
            border-radius: 4rem;
            -webkit-border-radius: 4rem;
            -moz-border-radius: 4rem;
            -ms-border-radius: 4rem;
            -o-border-radius: 4rem;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
              rgba(0, 0, 0, 0.22) 0px 10px 10px;
          }
        }

        & h1 {
          font-size: 3.3rem;
          margin-top: -2rem;
          background: linear-gradient(rgb(255, 0, 102), #3cf);
          font-weight: 700;
          -webkit-text-fill-color: transparent;
          -webkit-background-clip: text;
        }

        .card-btn-container {
          display: flex;
          gap: 3rem;

          & .btn {
            position: relative;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 12rem;
            height: 3.8rem;
            border-radius: 4rem;
            -webkit-border-radius: 4rem;
            -moz-border-radius: 4rem;
            -ms-border-radius: 4rem;
            -o-border-radius: 4rem;
            font-size: 1.7rem;
            color: #fff;
            font-weight: 500;
            letter-spacing: 0.1rem;
            z-index: 1;

            &::before {
              content: "";
              position: absolute;
              top: 0;
              inset: 0;
              background: linear-gradient(30deg, #f06, #3cf, #f06);
              z-index: -1;
              border-radius: 4rem;
              -webkit-border-radius: 4rem;
              -moz-border-radius: 4rem;
              -ms-border-radius: 4rem;
              -o-border-radius: 4rem;
              background-size: 200%;
              background-position: 0 0;
              filter: blur(5px);
              -webkit-filter: blur(5px);
            }

            &::after {
              content: "";
              position: absolute;
              top: 0;
              inset: 0;
              background: linear-gradient(45deg, #f06, #3cf, #f06);
              z-index: -1;
              background-position: 0 0;
              border-radius: 4rem;
              -webkit-border-radius: 4rem;
              -moz-border-radius: 4rem;
              -ms-border-radius: 4rem;
              -o-border-radius: 4rem;
              background-size: 200%;
              transition: 0.3s ease-in;
              -webkit-transition: 0.3s ease-in;
              -moz-transition: 0.3s ease-in;
              -ms-transition: 0.3s ease-in;
              -o-transition: 0.3s ease-in;
            }

            &:hover::after {
              background-position: 100% 0;
            }
          }
        }
      }

      & .filtercard.hidden {
        display: none;
      }
    }

    .load-more-projects {
      margin: 3rem auto auto auto;

      & .btn {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 4.6rem;
        padding: 2rem;
        border-radius: 2rem;
        -webkit-border-radius: 2rem;
        -moz-border-radius: 2rem;
        -ms-border-radius: 2rem;
        -o-border-radius: 2rem;
        font-size: 1.9rem;
        color: #fff;
        font-weight: 600;
        letter-spacing: 0.1rem;
        z-index: 1;
        animation: zoomIn 0.3s linear infinite alternate;
        -webkit-animation: zoomIn 0.3s linear infinite alternate;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          inset: 0;
          background: linear-gradient(
            60deg,
            rgba(174, 0, 255, 0.947),
            rgba(0, 78, 245, 0.555),
            rgb(236, 0, 95)
          );
          z-index: -1;
          border-radius: 4rem;
          -webkit-border-radius: 4rem;
          -moz-border-radius: 4rem;
          -ms-border-radius: 4rem;
          -o-border-radius: 4rem;
          background-size: 200%;
          background-position: 0 0;
          filter: blur(5px);
          -webkit-filter: blur(5px);
        }

        &::after {
          content: "";
          position: absolute;
          top: 0;
          inset: 0;
          background: linear-gradient(
            45deg,
            rgba(174, 0, 255, 0.947),
            rgba(0, 78, 245, 0.555),
            rgb(236, 0, 95)
          );
          z-index: -1;
          background-position: 0 0;
          border-radius: 4rem;
          -webkit-border-radius: 4rem;
          -moz-border-radius: 4rem;
          -ms-border-radius: 4rem;
          -o-border-radius: 4rem;
          background-size: 200%;
          transition: 0.3s ease-in;
          -webkit-transition: 0.3s ease-in;
          -moz-transition: 0.3s ease-in;
          -ms-transition: 0.3s ease-in;
          -o-transition: 0.3s ease-in;
        }

        &:hover::after {
          background-position: 100% 0;
        }
      }
    }
  }

  .contact-form {
    width: 100%;

    form {
      max-width: 70rem;
      margin: 12rem auto;
      padding: 3rem;
      border-radius: 1.5rem;
      text-align: center;
      box-shadow: rgba(18, 1, 255, 0.425) 0px 50px 100px -20px inset,
        rgba(146, 0, 243, 0.527) 0px 30px 60px -30px inset,
        rgb(183, 0, 255) 0px -2px 6px 0px inset;
      background: rgba(0, 0, 0, 0.842);

      & .input-group {
        margin-bottom: 3.5rem;
        position: relative;

        & input,
        textarea {
          width: 100%;
          padding: 1rem;
          color: #fff;
          outline: 0;
          border: 0.1rem solid #fff;
          background: transparent;
          font-size: 1.6rem;
          border-radius: 1.4rem;
          -webkit-border-radius: 1.4rem;
          -moz-border-radius: 1.4rem;
          -ms-border-radius: 1.4rem;
          -o-border-radius: 1.4rem;

          &:focus ~ label {
            top: -3.5rem;
            font-size: 1.4rem;
          }

          &:valid ~ label {
            top: -3.5rem;
            font-size: 1.4rem;
          }
        }

        & label {
          height: 100%;
          position: absolute;
          font-size: 1.4rem;
          left: 0;
          top: 0;
          padding: 10px;
          color: #b6b6b6;
          font-weight: 600;
          cursor: text;
          transition: 0.2s;
          -webkit-transition: 0.2s;
          -moz-transition: 0.2s;
          -ms-transition: 0.2s;
          -o-transition: 0.2s;
        }
      }

      & .btn {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 3.8rem;
        border-radius: 4rem;
        -webkit-border-radius: 4rem;
        -moz-border-radius: 4rem;
        -ms-border-radius: 4rem;
        -o-border-radius: 4rem;
        font-size: 1.6rem;
        color: #fff;
        font-weight: 500;
        letter-spacing: 0.1rem;
        z-index: 1;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          inset: 0;
          background: linear-gradient(30deg, #f06, #3cf, #f06);
          z-index: -1;
          border-radius: 4rem;
          -webkit-border-radius: 4rem;
          -moz-border-radius: 4rem;
          -ms-border-radius: 4rem;
          -o-border-radius: 4rem;
          background-size: 200%;
          background-position: 0 0;
          filter: blur(5px);
          -webkit-filter: blur(5px);
        }

        &::after {
          content: "";
          position: absolute;
          top: 0;
          inset: 0;
          background: linear-gradient(45deg, #f06, #3cf, #f06);
          z-index: -1;
          background-position: 0 0;
          border-radius: 4rem;
          -webkit-border-radius: 4rem;
          -moz-border-radius: 4rem;
          -ms-border-radius: 4rem;
          -o-border-radius: 4rem;
          background-size: 200%;
          transition: 0.3s ease-in;
          -webkit-transition: 0.3s ease-in;
          -moz-transition: 0.3s ease-in;
          -ms-transition: 0.3s ease-in;
          -o-transition: 0.3s ease-in;
        }

        &:hover::after {
          background-position: 100% 0;
        }
      }

      .row {
        display: flex;
        gap: 1rem;

        & .input-group {
          width: 100%;
        }
      }

      h3 {
        font-size: 5rem;
        margin-bottom: 4rem;
        padding: 1rem;
      }
    }
  }
}

main {
  & .Latest-work {
    & .cards-container {
      & .filtercard:hover {
        & .img-container {
          & img {
            scale: 1.1;
          }
        }
      }
    }
  }
}

/***** Footer Section *****/
footer {
  width: 100%;
  box-shadow: rgba(18, 1, 255, 0.425) 0px 50px 100px -20px inset,
    rgba(146, 0, 243, 0.527) 0px 30px 60px -30px inset,
    rgb(183, 0, 255) 0px -2px 6px 0px inset;
  background: rgba(0, 0, 0, 0.842);
  border-top-right-radius: 6rem;
  border-top-left-radius: 6rem;
  padding: 10rem;
  font-size: 2rem;
  color: #a7a7a7;

  & .row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.6rem;

    & .col {
      max-width: 45rem;
      display: flex;
      flex-direction: column;
      gap: 2.6rem;
      & .links {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        & a {
          font-weight: bold;
          color: #a7a7a7;

          &:hover {
            background: linear-gradient(45deg, #f06, #3cf);
            font-weight: bold;
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
          }
        }
      }

      & .youtube {
        display: flex;
        align-items: center;
        gap: 2rem;

        & .moverighticon {
          animation: moveright 0.5s linear infinite alternate;
          -webkit-animation: moveright 0.5s linear infinite alternate;
        }

        & a img {
          transition: 1.2s;
          -webkit-transition: 1.2s;
          -moz-transition: 1.2s;
          -ms-transition: 1.2s;
          -o-transition: 1.2s;
        }

        & a:hover img {
          transform: scale(1.3) rotate(360deg);
          -webkit-transform: scale(1.3) rotate(360deg);
          -moz-transform: scale(1.3) rotate(360deg);
          -ms-transform: scale(1.3) rotate(360deg);
          -o-transform: scale(1.3) rotate(360deg);
        }
      }

      & .hero-social-media-icons {
        display: flex;
        gap: 1rem;

        & a img {
          transition: 1.2s;
          -webkit-transition: 1.2s;
          -moz-transition: 1.2s;
          -ms-transition: 1.2s;
          -o-transition: 1.2s;
        }

        & a:hover img {
          transform: scale(1.3) rotate(360deg);
          -webkit-transform: scale(1.3) rotate(360deg);
          -moz-transform: scale(1.3) rotate(360deg);
          -ms-transform: scale(1.3) rotate(360deg);
          -o-transform: scale(1.3) rotate(360deg);
        }
      }

      & .footer-img {
        object-fit: cover;
        object-position: top;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
      }
    }
  }

  .center {
    text-align: center;
  }
}

/***** End Footer Section *****/

/***** scrollbar Section *****/

/* width */
::-webkit-scrollbar {
  width: 0.9rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #a3a3a3;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(#eb1d6f, #10baf3);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2c2c2c;
}

/***** End scrollbar Section *****/

@keyframes moveright {
  0% {
    transform: translateX(-0.5rem);
    -webkit-transform: translateX(-0.5rem);
    -moz-transform: translateX(-0.5rem);
    -ms-transform: translateX(-0.5rem);
    -o-transform: translateX(-0.5rem);
  }

  100% {
    transform: translateX(0.5rem);
    -webkit-transform: translateX(0.5rem);
    -moz-transform: translateX(0.5rem);
    -ms-transform: translateX(0.5rem);
    -o-transform: translateX(0.5rem);
  }
}

@keyframes moveDown {
  0% {
    transform: translateY(-0.5rem);
    -webkit-transform: translateY(-0.5rem);
    -moz-transform: translateY(-0.5rem);
    -ms-transform: translateY(-0.5rem);
    -o-transform: translateY(-0.5rem);
  }

  100% {
    transform: translateY(0.5rem);
    -webkit-transform: translateY(0.5rem);
    -moz-transform: translateY(0.5rem);
    -ms-transform: translateY(0.5rem);
    -o-transform: translateY(0.5rem);
  }
}

@keyframes zoomIn {
  0% {
    scale: 1;
  }

  100% {
    scale: 1.05;
  }
}
